@import "tailwindcss";

@theme {

  --color-bgMain: #1E1E1E;
  --color-bgPrimary: #004FB2;
  --color-bgSecondary: #494D4F;
  --color-bgTertiary: #EBEBEB;
  --color-textPrimary: #1A1A1A;
  --color-textSecondary: #FAFAFA;
  --color-textTertiary: #ABABAB;
}
